---
import Card from '@/components/Card.astro';
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Layout from '@/layouts/Layout.astro';

---

<Layout title="My Porfolio | Facundo Colavini">
	<SectionContainer id="experience" class=" pt-16 md:pt-36 relative">
	<div 
		class="w-full shrink-0 absolute  top-52 md:top-80  -z-50 rotate-[-7deg] py-[20px] blur-[150px] rounded-full h-[150px] lg:h-[150px] xl:h-[200px] 
			   bg-[radial-gradient(circle,rgba(73,33,93,1)_0%,rgba(48,13,73,1)_49%,rgba(27,8,53,1)_100%)]">
	</div>
	<Hero/>
	
    <Experience/>	 
	</SectionContainer>
	<SectionContainer id="projects" class="mt-2 pb-16 md:pb-36  relative">
		<div 
		class="absolute top-[40%] right-1 -translate-y-1/2 w-[500px] h-[160px] rounded-full blur-[100px] bg-[radial-gradient(circle,rgba(73,33,93,1)_0%,rgba(48,13,73,1)_49%,rgba(27,8,53,1)_100%)]"
	  ></div>
		<Card/>
	</SectionContainer>
	<SectionContainer id="about" class="text-center h-[100vh] py-16 md:py-36">
		<h1>About</h1>
	</SectionContainer>
	<SectionContainer id="contact" class="text-center h-[100vh] py-16 md:py-36">
		<h1>Contact</h1>
	</SectionContainer>
</Layout>
