---
import SectionContainer from '@components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="My Porfolio | Facundo Colavini">
	<SectionContainer id="experience" class="text-center h-[100vh]">
		<h1>Experience</h1>
	</SectionContainer>
	<SectionContainer id="projects" class="text-center h-[100vh]">
		<h1>Projects</h1>
	</SectionContainer>
	<SectionContainer id="about" class="text-center h-[100vh]">
		<h1>About</h1>
	</SectionContainer>
	<SectionContainer id="contact" class="text-center h-[100vh]">
		<h1>Contact</h1>
	</SectionContainer>
</Layout>

