---
import SectionContainer from '@components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="My Porfolio | Facundo Colavini">
	<SectionContainer id="experience" class="text-center h-[100vh]">
<!-- 		<div
		class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
	bg-[radial-gradient(ellipse_80%_40%_at_20%_-20%,rgba(85,18,137,0.22),rgba(28,28,28,0))]"
	  >
	  </div> -->
		<h1>Experience</h1>
	</SectionContainer>
	<SectionContainer id="projects" class="text-center h-[100vh]">
		<h1>Projects</h1>
	</SectionContainer>
	<SectionContainer id="about" class="text-center h-[100vh]">
		<h1>About</h1>
	</SectionContainer>
	<SectionContainer id="contact" class="text-center h-[100vh]">
		<h1>Contact</h1>
	</SectionContainer>
</Layout>

