---
import profile from '@/assets/images/profile-2.png'
 const personalImageAlt = "Facundo Colavini"
---

<article class="flex flex-col items-center justify-center gap-8 sm:px-8 md:flex-row">
    <div 
    class="w-full shrink-0 absolute   -z-50 rotate-[-7deg] py-[20px] blur-[150px] rounded-full h-[150px] lg:h-[150px] xl:h-[400px] 
           bg-gradient-to-r from-transparent via-[rgba(73,33,93,0.1)] to-[rgba(112,59,154,0.2)">
</div>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
        My name is Facundo Colavini, and I'm a frontend developer with over 6 years of experience in creating user-focused web applications. My passion for technology began early and has since evolved into a fulfilling career.
    </p>

    <p>
        Throughout my journey, I've led projects across various industries, utilizing modern technologies like Astro, TailwindCSS, and JavaScript to build websites that are not only visually appealing but also highly functional and efficient.
    </p>

    <p>
        I'm also passionate about continuous learning and staying up-to-date with the latest tech trends. This drive allows me to consistently improve my skills and deliver innovative solutions that exceed client expectations.
    </p>
  </div>

  <img width="200" height="200" src={profile.src} alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-purple-900/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
