---
import project1 from '@/assets/images/ms-project-1.png'
---

<div class="relative flex items-center justify-center p-4 overflow-hidden ">

    
    <div class="relative w-full max-w-5xl bg-[#1E1E2E]/30 backdrop-blur-md rounded-3xl  border-[#808080] border p-8 shadow-lg">
      <div class="flex flex-col md:flex-row items-start justify-between">
        <div class="text-white mb-6 md:mb-0 md:mr-8 flex-1">
          <h1 class="text-4xl font-bold mb-4">Property Listings: Rentals & Sales Web App</h1>
          <div class="flex space-x-2 mb-4">
            <span class="bg-[#8652d4] text-white text-xs px-3 py-1 rounded-full flex items-center">
              <svg class="w-4 h-4 mr-1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M163.852 47.995c-10.058-8.935-23.522-14.357-38.292-14.357-29.876 0-54.129 24.253-54.129 54.129 0 2.715.212 5.379.608 7.981-34.927 2.307-61.849 20.302-61.849 41.756 0 23.219 30.558 42.077 68.214 42.077 3.686 0 7.305-.193 10.852-.554 13.487 11.766 30.859 18.921 49.848 18.921 23.404 0 44.14-10.682 57.944-27.392 31.125-1.214 55.77-19.175 55.77-40.956 0-22.685-29.138-41.157-65.577-41.97-5.39-22.23-24.675-39.635-48.389-39.635z" fill="#FFF"/></svg>
              Astro
            </span>
            <span class="bg-black text-white text-xs px-3 py-1 rounded-full flex items-center">
              <svg class="w-4 h-4 mr-1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M128 0C57.221 0 0 57.221 0 128c0 70.778 57.221 128 128 128 70.778 0 128-57.222 128-128V0H128z" fill="#FFF"/><path d="M212.934 218.781c-3.708 0-6.725-3.017-6.725-6.725V43.944c0-3.709 3.017-6.725 6.725-6.725h18.731c3.708 0 6.725 3.016 6.725 6.725v168.112c0 3.708-3.017 6.725-6.725 6.725h-18.731z" fill="#000"/><path d="M43.944 218.781h168.112V43.944H43.944v174.837z" fill="#000"/></svg>
              Vercel
            </span>
          </div>
          <p class="text-sm mb-6 opacity-90 max-w-lg">I developed a web application for real estate rentals and sales, featuring a modern design and user-friendly functionalities for intuitive property browsing and filtering</p>
          <button class="bg-white text-[#1E1E2E] text-sm font-semibold py-2 px-6 rounded-full hover:bg-opacity-90 transition duration-300">
            Preview
          </button>
        </div>
        <div class="w-full md:w-1/2 relative">
        <img src={project1.src}  
            class="w-full scale-150"
        />
            
        </div>
      </div>
    </div>
  </div>
