---
import NextJS from "@icons/NextJS.astro";
---

<div class="navigation">
  <ul>
    <li class="list">
      <a href="#">
        <NextJS class="size-4 text-white fill-white"/>
        <span class="title">Experience</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"></span>

        <span class="title">Projects</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"></span>

        <span class="title">About</span>
      </a>
    </li>
    <li class="list">
        <a href="#">
          <span class="icon"></span>
  
          <span class="title">Contact</span>
        </a>
      </li>
  </ul>
</div>

<style>

</style>