<div
  class="relative w-max mx-auto h-12 grid grid-cols-3 px-[3xl] rounded-full overflow-hidden shadow-2xl shadow-900/20 "
>
<button>
    <span>Tab 1 </span>
</button>
<button>
    <span>Tab 2 </span>
</button>
<button>
    <span>Tab 3 </span>
</button>

</div>
