---

import TimelineItem from "./TimelineItem.astro"
import type { Timeline } from "@/interfaces/types";

interface Props {
  list: Timeline[];
}

const {list } = Astro.props;

---
<ol class="relative mt-40 md:mt-52 px-4 sm:px-8">
    {list.map((list:Timeline) => (
    <li class="">
      <TimelineItem {...list} />
    </li>
  ))
}
</ol>